body{
    background-color:#FDCEB9;
    margin: 0;
  }
  @media only screen and (orientation: landscape) {
    body {
      background-color: #fcd9cb;
    }
  }
  a{
    color: #D885A3;
    text-decoration: none;
  }
  #head a{
    color: #655D8A;
    text-decoration: none;
  }
  #head{
    text-align: center;
    color: #655D8A;
    background-color: #D885A3;
    font-style: italic;
    font-weight: bold;
    font-family: "Monaco", monospace;
    position: sticky;
    width: 100%;
    top: 0;
    transition: 0.2s;
    font-size: 25px;
    padding: 1px;
    z-index: 10;
    animation: culoare 5s linear 2s infinite alternate;
  }
  @keyframes culoare {
    from {background-color: #D885A3;}
    to {background-color: #fcd9cb;;}
  }
  #menu{
    position: sticky;
    background-color: #655D8A;
    color: #D885A3;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 10;
  }
  #meniu{
    background-color: #655D8A;
    position: sticky;
    top: 130px;
    z-index: 10;
  }
  .flex-container {
    display: flex;
    background-color:#655D8A;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .elem{
    background-color: #655D8A;
    float: left;
    position: relative;
    text-align: center;
    font-size: 20px;
    padding: 10px 90px;
  }
  .elemsub{
    background-color: #655D8A;
    float: left;
    position: relative;
    text-align: center;
    font-size: 20px;
    padding: 10px 90px;
  }
  .elem:hover{
    background-color:#FDCEB9;
  }
  .elemsub:hover{
    background-color:#FDCEB9;
  }
  .subelem {
    background-color:#FDCEB9;
    display: none;
    position: absolute;
    list-style-type: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;

  }
  .dropelem{
    z-index: 10;
    float: left;
    text-align: center;
    padding: 10px 70px;
    margin: 0;
    background-color:#FDCEB9;
  }
  .subelem .dropelem:hover{
    background-color: #655D8A;
  }

  .elemsub:hover .subelem {
    display: block;
  }
  .imagini img{
    border: 5px solid #7897AB;
    width: 300px;
    z-index: 8;
  }
  #galerie img{
    border: 5px solid #7897AB;
    width: 150px;
    z-index: 8;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s;
  }
  #galerie img:hover{
    width: 200px;
    z-index: 9;
    border: 5px solid #7897AB;
    position: absolute;
  }
  .dreapta{
    float: right;
    margin: 10px;
  }
  .stanga{
    float: left;
    margin: 10px;
  }

  .imagini div{
    border: 5px solid #7897AB;
    max-width: 75%;
    margin-top: 50px;
    margin-left: 12%;
    margin-right: 12% ;
  }
  #galerie{
    border: 5px solid #7897AB;
    max-width: 75%;
    margin-top: 50px;
    margin-left: 12%;
    margin-right: 12%;
    position: relative;
  }
  .paragraf{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
  }
  #pr1{
    min-height: 330px;
  }
  #pr2{
    min-height: 235px;
  }
  #pr3{
    min-height: 460px;
  }
  #desc{
    text-align:right;
  }
  .subtitlu{
    margin-left: 50px;
    margin-top: 50px;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    color:  #655D8A; 
  }
  p{
    color:  #2d2745;
    font-size: medium;
  }
  .articol{
    max-width: 75%;
    margin-top: 50px;
    margin-left: 12%;
    margin-right: 12% ;
  }
  iframe{
    width: 560px; 
    height: 315px; 
    margin-left: auto;
    margin-right: auto;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 50px 50px 50px  50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows:   50px 50px 50px  50px 50px 50px 50px 50px 50px 50px;
    height: 450px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .grid-container div{
    border: 5px solid #7897AB;
  }
  p{
      text-align: center;
  }
  img{
      object-fit: fill;
  }
  .mare img{
      height: 440px;
      width: 290px;
      object-fit: fill;
  }
  .mic img{
      height: 140px;
      width: 90px;
      object-fit: fill;
  }
  .grid-container div:nth-child(1){
      grid-row: 1/ 10;
      grid-column: 1/ span 6;
  }
  .grid-container div:nth-child(2){
      grid-row: 1/ span 3;
      grid-column: 7/ span 2;
  }
  .grid-container div:nth-child(3){
      grid-row: 4 /span 3 ;
      grid-column:  7/ span 2;
  }
  .grid-container div:nth-child(4){
      grid-row: 7/ span 3;
      grid-column:  7/ span 2;
  }
  .grid-container div:nth-child(5){
      grid-row: 1/ span 3;
      grid-column: 9/ span 2;
  }
  .grid-container div:nth-child(6){
      grid-row: 4 /span 3 ;
      grid-column:  9/ span 2;
  }
  .grid-container div:nth-child(7){
      grid-row: 7/ span 3;
      grid-column:  9/ span 2;
  }
  #new{
    text-align: center;
  }